In [3]:
from sklearn.feature_extraction.text import CountVectorizer

vector = CountVectorizer(ngram_range = (1,1))
vector.fit(["Thor Mathodawala is looking for a job"])
vector.vocabulary_

{'thor': 5, 'mathodawala': 4, 'is': 1, 'looking': 3, 'for': 0, 'job': 2}

In [4]:
vector = CountVectorizer(ngram_range = (1,2))
vector.fit(["Thor Mathodawala is looking for a job"])
vector.vocabulary_

{'thor': 9,
 'mathodawala': 7,
 'is': 2,
 'looking': 5,
 'for': 0,
 'job': 4,
 'thor mathodawala': 10,
 'mathodawala is': 8,
 'is looking': 3,
 'looking for': 6,
 'for job': 1}

In [5]:
vector = CountVectorizer(ngram_range = (1,3))
vector.fit(["Thor Mathodawala is looking for a job"])
vector.vocabulary_

{'thor': 12,
 'mathodawala': 9,
 'is': 2,
 'looking': 6,
 'for': 0,
 'job': 5,
 'thor mathodawala': 13,
 'mathodawala is': 10,
 'is looking': 3,
 'looking for': 7,
 'for job': 1,
 'thor mathodawala is': 14,
 'mathodawala is looking': 11,
 'is looking for': 4,
 'looking for job': 8}

In [6]:
corpus = [
    "Thor ate pizza",
    "Loki is tall",
    "Loki is eating pizza"
]

### how text convert into a vector

In [7]:
import spacy

# load english language model and create nlp object from it
nlp = spacy.load("en_core_web_sm")

def preprocess(text):
    doc = nlp(text)
    
    filtered_tokens = []
    for token in doc:
        if token.is_stop or token.is_punct:
            continue
        filtered_tokens.append(token.lemma_)
    return " ".join(filtered_tokens)

preprocess("Thor ate pizza")

'thor eat pizza'

In [8]:
# the whole corpus is preprocessed and the stop words are removed


corpus_preproces = [preprocess(text) for text in corpus]
corpus_preproces

['thor eat pizza', 'Loki tall', 'Loki eat pizza']

In [9]:
vector = CountVectorizer(ngram_range = (1,2))
vector.fit(corpus_preproces)
vector.vocabulary_

{'thor': 7,
 'eat': 0,
 'pizza': 5,
 'thor eat': 8,
 'eat pizza': 1,
 'loki': 2,
 'tall': 6,
 'loki tall': 4,
 'loki eat': 3}

In [10]:
# we convert the bag of words into a vector which is nothing but array of integers
# becuase machine understand numbers not words

vector.transform(["Thor eat pizza"]).toarray()

array([[1, 1, 0, 0, 0, 1, 0, 1, 1]], dtype=int64)

In [11]:
vector.transform(["Hulk eat pizza"]).toarray()

array([[1, 1, 0, 0, 0, 1, 0, 0, 0]], dtype=int64)

In [12]:
import pandas as pd

df = pd.read_json("News_Category_Dataset_v3.json", lines = True)
df.shape
df.head()

,link,headline,category,short_description,authors,date
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
4,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22

In [13]:
df.category.value_counts()

POLITICS          35602
WELLNESS          17945
ENTERTAINMENT     17362
TRAVEL             9900
STYLE & BEAUTY     9814
PARENTING          8791
HEALTHY LIVING     6694
QUEER VOICES       6347
FOOD & DRINK       6340
BUSINESS           5992
COMEDY             5400
SPORTS             5077
BLACK VOICES       4583
HOME & LIVING      4320
PARENTS            3955
THE WORLDPOST      3664
WEDDINGS           3653
WOMEN              3572
CRIME              3562
IMPACT             3484
DIVORCE            3426
WORLD NEWS         3299
MEDIA              2944
WEIRD NEWS         2777
GREEN              2622
WORLDPOST          2579
RELIGION           2577
STYLE              2254
SCIENCE            2206
TECH               2104
TASTE              2096
MONEY              1756
ARTS               1509
ENVIRONMENT        1444
FIFTY              1401
GOOD NEWS          1398
U.S. NEWS          1377
ARTS & CULTURE     1339
COLLEGE            1144
LATINO VOICES      1130
CULTURE & ARTS     1074
EDUCATION          1014
Name: category, dtype: int64

In [14]:
min_sample = 1014
df_POLITICS = df[df.category =='POLITICS'].sample(min_sample, random_state = 2022)
df_WELLNESS = df[df.category =='WELLNESS'].sample(min_sample, random_state = 2022)
df_ENTERTAINMENT = df[df.category =='ENTERTAINMENT'].sample(min_sample, random_state = 2022)
df_TRAVEL = df[df.category =='TRAVEL'].sample(min_sample, random_state = 2022)
df_STYLEBEAUTY = df[df.category =='STYLE & BEAUTY'].sample(min_sample, random_state = 2022)
df_PAHEALTHY_LIVING = df[df.category =='HEALTHY LIVING'].sample(min_sample, random_state = 2022)
df_QUEER_VOICES = df[df.category =='QUEER VOICES'].sample(min_sample, random_state = 2022)
df_FOODDRINK = df[df.category =='FOOD & DRINK'].sample(min_sample, random_state = 2022)
df_BUSINESS = df[df.category =='BUSINESS'].sample(min_sample, random_state = 2022)
df_COMEDY = df[df.category =='COMEDY'].sample(min_sample, random_state = 2022)
df_SPORTS = df[df.category =='SPORTS'].sample(min_sample, random_state = 2022)
df_BLACK_VOICES = df[df.category =='BLACK VOICES'].sample(min_sample, random_state = 2022)
df_HOME_LIVING = df[df.category =='HOME & LIVING'].sample(min_sample, random_state = 2022)
df_PARENTS = df[df.category =='PARENTS'].sample(min_sample, random_state = 2022)
df_THE_WORLDPOST = df[df.category =='THE WORLDPOST'].sample(min_sample, random_state = 2022)
df_WEDDINGS = df[df.category =='WEDDINGS'].sample(min_sample, random_state = 2022)
df_WOMEN = df[df.category =='WOMEN'].sample(min_sample, random_state = 2022)
df_CRIME = df[df.category =='CRIME'].sample(min_sample, random_state = 2022)
df_IMPACT = df[df.category =='IMPACT'].sample(min_sample, random_state = 2022)
df_DIVORCE = df[df.category =='DIVORCE'].sample(min_sample, random_state = 2022)
df_WORLD_NEWS = df[df.category =='WORLD NEWS'].sample(min_sample, random_state = 2022)
df_MEDIA = df[df.category =='MEDIA'].sample(min_sample, random_state = 2022)
df_WEIRD_NEWS = df[df.category =='WEIRD NEWS'].sample(min_sample, random_state = 2022)
df_GREEN = df[df.category =='GREEN'].sample(min_sample, random_state = 2022)
df_WORLDPOST = df[df.category =='WORLDPOST'].sample(min_sample, random_state = 2022)
df_RELIGION = df[df.category =='RELIGION'].sample(min_sample, random_state = 2022)
df_STYLE = df[df.category =='STYLE'].sample(min_sample, random_state = 2022)
df_SCIENCE = df[df.category =='SCIENCE'].sample(min_sample, random_state = 2022)
df_TECH = df[df.category =='TECH'].sample(min_sample, random_state = 2022)
df_TASTE = df[df.category =='TASTE'].sample(min_sample, random_state = 2022)
df_MONEY = df[df.category =='MONEY'].sample(min_sample, random_state = 2022)
df_ARTS = df[df.category =='ARTS'].sample(min_sample, random_state = 2022)
df_ENVIRONMENT = df[df.category =='ENVIRONMENT'].sample(min_sample, random_state = 2022)
df_FIFTY = df[df.category =='FIFTY'].sample(min_sample, random_state = 2022)
df_GOOD_NEWS = df[df.category =='GOOD NEWS'].sample(min_sample, random_state = 2022)
df_U_S_NEWS = df[df.category =='U.S. NEWS'].sample(min_sample, random_state = 2022)
df_ARTS_CULTURE = df[df.category =='ARTS & CULTURE'].sample(min_sample, random_state = 2022)
df_COLLEGE = df[df.category =='COLLEGE'].sample(min_sample, random_state = 2022)
df_LATINO_VOICES = df[df.category =='LATINO VOICES'].sample(min_sample, random_state = 2022)
df_CULTURE_ARTS = df[df.category =='CULTURE & ARTS'].sample(min_sample, random_state = 2022)
df_education = df[df.category =='EDUCATION'].sample(min_sample, random_state = 2022)

In [ ]:
df_STYLE

In [20]:

df_balanced = pd.concat([df_POLITICS,df_WELLNESS,df_ENTERTAINMENT,df_TRAVEL,df_STYLEBEAUTY,df_PAHEALTHY_LIVING,df_QUEER_VOICES,df_FOODDRINK,
                         df_BUSINESS,df_COMEDY,df_SPORTS,df_BLACK_VOICES,df_HOME_LIVING,df_PARENTS,df_THE_WORLDPOST,df_WEDDINGS,df_WOMEN,
                         df_CRIME,df_IMPACT,df_DIVORCE,df_WORLD_NEWS,df_MEDIA,df_WEIRD_NEWS,df_GREEN,df_WORLDPOST,df_RELIGION,df_STYLE,
                         df_STYLE,df_TECH,df_TASTE,df_MONEY,df_ARTS,df_ENVIRONMENT,df_FIFTY,df_GOOD_NEWS,df_U_S_NEWS,df_ARTS_CULTURE,
                         df_COLLEGE,df_LATINO_VOICES,df_CULTURE_ARTS,df_education], axis = 0)
df_balanced.category.value_counts()

STYLE             2028
POLITICS          1014
WELLNESS          1014
WEIRD NEWS        1014
GREEN             1014
WORLDPOST         1014
RELIGION          1014
TECH              1014
TASTE             1014
MONEY             1014
ARTS              1014
ENVIRONMENT       1014
FIFTY             1014
GOOD NEWS         1014
U.S. NEWS         1014
ARTS & CULTURE    1014
COLLEGE           1014
LATINO VOICES     1014
CULTURE & ARTS    1014
MEDIA             1014
WORLD NEWS        1014
DIVORCE           1014
COMEDY            1014
ENTERTAINMENT     1014
TRAVEL            1014
STYLE & BEAUTY    1014
HEALTHY LIVING    1014
QUEER VOICES      1014
FOOD & DRINK      1014
BUSINESS          1014
SPORTS            1014
IMPACT            1014
BLACK VOICES      1014
HOME & LIVING     1014
PARENTS           1014
THE WORLDPOST     1014
WEDDINGS          1014
WOMEN             1014
CRIME             1014
EDUCATION         1014
Name: category, dtype: int64

In [34]:
df_balanced['category_num'] = df_balanced.category.map({
    'STYLE ': 0,
    'POLITICS':1,
    'WELLNESS': 2,
    'WEIRD NEWS':3,
    'GREEN' : 4,
    'WORLDPOST' :5,
    'RELIGION': 6,
    'TECH' : 7,
    'TASTE' :8,
    'MONEY' : 9,
    'ARTS' : 10,
    'ENVIRONMENT': 11,
    'FIFTY' :12,
    'GOOD NEWS':13,
    'U.S. NEWS' : 14,
    'ARTS & CULTURE': 15,
    'MEDIA' : 16,
    'WORLD NEWS' : 17,
    'DIVORCE' : 18,
    'COMEDY' : 19,
    'ENTERTAINMENT': 20,
    'TRAVEL' : 21,
    'STYLE & BEAUTY' : 22,
    'HEALTHY LIVING' :23,
    'QUEER VOICES' : 24,
    'FOOD & DRINK' :25,
    'BUSINESS' : 26,
    'SPORTS' : 27,
    'IMPACT' : 28,
    'BLACK VOICES' :29,
    'HOME & LIVING' :30,
    'PARENTS' : 31,
    'THE WORLDPOST' : 32,
    'WEDDINGS' : 33,
    'WOMEN' : 34,
    'CRIME' : 35,
    'EDUCATION' :36
    
})

In [35]:
df_balanced.head()

,link,headline,category,short_description,authors,date,category_num
16014,https://www.huffingtonpost.com/entry/trump-hea...,The Coverage Of Trump’s Big Dumb Body Is Fat W...,POLITICS,"The president, it evidently needs to be said, ...",Travis Waldron,2018-01-18,1.0
25545,https://www.huffingtonpost.com/entry/dreamers-...,"Dreamers Are People, Not Political Footballs",POLITICS,People should not be reduced to pawns used by ...,"Center for Community Change Action, Contributo...",2017-09-09,1.0
51291,https://www.huffingtonpost.com/entry/democrats...,Democrats Must Elect Bernie Sanders Senate Min...,POLITICS,The Senate will meet this Wednesday to elect i...,"Linda Milazzo, ContributorParticipatory journa...",2016-11-13,1.0
41123,https://www.huffingtonpost.com/entry/jcc-lette...,Jewish Leaders Frustrated By Lack Of Progress ...,POLITICS,"In a letter to Attorney General Jeff Sessions,...",Matt Ferner,2017-03-08,1.0
10450,https://www.huffingtonpost.com/entry/donald-tr...,Donald Trump Roasted For Painfully Awkward Att...,POLITICS,"Well, that didn't seem to go as planned.",Rebecca Shapiro,2018-04-24,1.0

In [36]:
df_balanced['category_num'].isnull().sum()

5070

In [37]:
from sklearn.model_selection import train_test_split

X_train, X_test,  y_train, y_test = train_test_split(
            df_balanced.link,
            df_balanced.category_num,
            test_size = 0.2,
            random_state = 2022,
            stratify = df_balanced.category_num)

ValueError: Input y contains NaN.

In [30]:
X_train.shape()

NameError: name 'X_train' is not defined